/********** Template CSS **********/
:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title h1 {
    position: relative;
    display: inline-block;
}

.section-title.text-start h1 {
    padding-left: 0;
}

/**
.section-title h1::before,
.section-title h1::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    bottom: 0;
    background: var(--dark);
}*/

/*.section-title h1::before {
    left: 0;
}

.section-title h1::after {
    right: 0;
}*/

.section-title.text-start h1::before {
    display: none;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title:not(.text-center)::before {
    left: 0; /* Left-align the line */
}

.section-title.text-center::before {
    left: 50%; /* Center the line */
    transform: translateX(-50%);
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    /**content: "";**/
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    /**-webkit-animation: section-title-run 5s infinite linear;**/
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}

/*** Facts & Quote ***/
.facts2,
.quote2 {
    background: rgba(68, 186, 255, 0.6);
}
.facts3{
    background: rgba(183, 217, 255, 0.6);
}

.services-home {
    /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
                url('../img/prj.jpg') no-repeat center center / cover;*/
    background: url('../img/project4.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    position: relative;
}
.services-pg{
    background: url('../img/python2.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    margin-top: -90px;
    padding: 8em 0 8em 0 !important;
}

.services-starts{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.services-pg h3{
    background-color: rgba(183, 217, 255, 0.6); 
    padding: 10px;        
    border-radius: 5px;
}

.quote-home {
    /*background: linear-gradient(rgba(127, 140, 160, 0.7), rgba(9, 30, 62, .7)), url('../img/scratch2.jpeg') no-repeat center center / cover;*/
    background-attachment: fixed;
    position: relative;
}

/*** Project ***/
.project-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.project-item .project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    padding-top: 60px;
    transition: .5s;
}

.project-item:hover .project-overlay {
    opacity: 1;
    padding-top: 0;
}

.project-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 0;
    display: flex;
}

.project-carousel .owl-nav .owl-prev,
.project-carousel .owl-nav .owl-next {
    margin-left: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.project-carousel .owl-nav .owl-prev:hover,
.project-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .project-carousel .owl-nav {
        top: -70px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-carousel .owl-nav .owl-prev,
    .project-carousel .owl-nav .owl-next {
        margin: 0 7px;
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}

.align-items-center {
    align-items: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.border-primary {
    border-color: #0b38ce !important;
}
.border-left {
    border-left: 2px solid #0975e0 !important;
}

/* General Styles */
.project-carousel {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    padding: 0 1rem;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.project-carousel::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
/* Style for the next and prev buttons */
.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.carousel-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 1em;
}
.carousel-btn:hover {
    background-color: #0056b3;
}
.project-item {
    width: 30em;
    height: 25em;
    flex-shrink: 0;
    position: relative;
    scroll-snap-align: start;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item:hover .project-overlay {
    opacity: 1;
}
.project-item img {
    width: 100%;
    height: 15em;
}

/* Custom button styles */
.btn-square {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 1.8em;
    border-radius: 50%;
}

.carousel-controls {
    position: relative;
}

#project-prev-btn {
    left: -60px; /* Adjust as needed */
}

#project-next-btn {
    right: -60px; /* Adjust as needed */
}
/* Custom animation styles */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.6s ease-in-out;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vendor-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80%; /* Adjust width as needed */
}

.vendor-carousel img {
    min-width: 150px; /* Set a minimum width for the images */
    margin: 0 10px; /* Space between images */
    border-radius: 8px; /* Optional styling */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional styling */
}

.carousel-btn:hover {
    background-color: #0056b3; /* Darker button color on hover */
}

.carousel-btn:disabled {
    background-color: #ccc; /* Disabled button color */
    cursor: not-allowed;
}

.featured-projects-section {
    padding: 0 0 3em;
}

.featured-project-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featured-project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
}

.featured-project-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sponsored-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff4c60;
    color: white;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 5px;
}

.card-body h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1rem;
    color: #6c757d;
}

.position-relative {
    position: relative;
}

.arrow-down {
    position: absolute;
    left: 50%; /* Center the arrow */
    top: 100%; /* Place it right below the first card */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #007bff; /* Arrow color */
    margin-top: -4px; /* Adjust this value to align the arrow properly */
}

.arrow-up {
    font-size: 2rem; /* Adjust size as needed */
    color: #007bff; /* Arrow color */
    margin-top: -0.9em; /* Adjust this value to position the arrow vertically */
    margin-bottom: -0.5em;
}

.arrow2-up {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 30px solid transparent; /* Left wing of the arrow */
    border-right: 30px solid transparent; /* Right wing of the arrow */
    border-bottom: 30px solid #007bff; /* Arrow color */
    transform: translateY(-50%); /* Adjust this value to align the arrow properly */
    animation: pulse 1s infinite; /* Optional: Add a pulsing effect */
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

/* Optional: Add a pulsing effect to the arrow 
@keyframes pulse {
    0%, 100% {
        transform: translateY(-50%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale(1.1);
    }
}*/

#video-section {
    text-align: center;
    margin: 20px 0;
}

#video-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

iframe, video {
    border: 2px solid #eaeaea;
    border-radius: 8px;
}

.advertisement-section {
    background-color: #f9f9f9;
    padding: 80px 0 80px 0;
    border-radius: 8px;
    text-align: center;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.advertisement-image {
    width: 100%;
    max-width: 600px; 
    height: auto; 
    border-radius: 8px; 
    margin: 20px 0; 
}

.advertisement-video {
    width: 100%; /* Makes the video full width */
    max-width: 600px; /* Limits the max width */
    border-radius: 8px; /* Rounded corners */
    margin: 20px 0; /* Space above and below the video */
}

.advertisement-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.advertisement-section p {
    color: #666;
    margin-bottom: 15px;
}

.advertisement-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.advertisement-section li {
    margin: 10px 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.advertisement-section li i {
    margin-right: 15px;
    font-size: 1.2em;
    color: #007bff;
    transition: color 0.3s ease;
}

.advertisement-section li:hover i {
    color: white;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

.advertisement-container {
    display: flex; /* Align items in a row */
    align-items: flex-start; /* Align items at the start */
    justify-content: flex-space; /* Align items to the left */
    padding: 5px 200px 5px 200px; /* Adjust padding as necessary */
}

.image-container {
    margin-right: 50px; /* Space between the image and video */
}

.ad-video-container {
    position: relative;
    width: 100%; /* Make it responsive */
    max-width: 600px; /* Optional max-width for the video */
    margin-top: 60px; /* Space above the video to position it below the image */
}

.ad-video-container iframe {
    width: 100%; /* Ensure the iframe takes full width of its container */
    height: 315px; /* Set a fixed height for the video */
    border: none; /* Remove border */
}
